//buttons
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 12px 30px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.btn i + span, .btn span + i, .btn svg + span, .btn span + svg {
  margin-left: 5px;
}
