//main page
.main-page {
  padding-top: 0;
}

.intro {
  background: #F0F2F3;
  padding: 24px 0 30px;
}

.intro-row {
  display: flex;
}

.intro-slider {
  width: 67.2%;
}

.intro-slider .intro-slide {
  width: 100%;
  height: 410px;
  border-radius: 8px;
  overflow: hidden;
}

.intro-slider .intro-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-slider-prev, .intro-slider-next {
  width: 40px;
  height: 40px;
}

.intro-slider-prev:after, .intro-slider-next:after {
  display: none;
}

.intro-slider-prev {
  left: 8px!important;
}

.intro-slider-next {
  right: 8px!important;
}

.intro-slider-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  background: #FFF;
  opacity: 1;
  margin: 0 4px!important;
}

.intro-slider-pagination .swiper-pagination-bullet-active {
  background: #9BCB30;
}

.feedback-container {
  border-radius: 8px;
  background: #FFF;
  padding: 40px 30px;
  width: 32.8%;
  margin-left: 22px;
}

.feedback-container hr {
  width: 65px;
  opacity: 1;
  border-top: 4px solid #9BCB30;
  margin: 0 0 19px;
}

.feedback-container b {
  display: block;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 19px;
}

.feedback-container p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 29px;
}

.feedback-container .form-container {
  margin-bottom: 12px;
}

.page-promos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.page-promo {
  border-radius: 8px;
}

.page-promo h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
  position: relative;
  z-index: 1;
}

.page-promo p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 26px;
  position: relative;
  z-index: 1;
}

.page-promo .btn-custom {
  margin-top: auto;
}

.page-promo.light {
  padding: 23px 320px 33px 30px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF url("../img/main/zeekr-white.png") no-repeat right center/contain;
  background-size: 360px;
  h2 {
    color: #000;
  }
  p {
    color: #000;
  }
}

.page-promo.dark {
  padding: 23px 305px 33px 30px;
  border-radius: 8px;
  background: #2B2E2E url("../img/main/3-car.png") no-repeat right 50px/contain;
  background-size: 395px;
  h2 {
    color: #FFF;
  }
  p {
    color: #FFF;
  }
}

.home-catalog {
  margin-top: 48px;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.inline-navigation {
  display: flex;
  align-items: center;
}

.inline-navigation-btn {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #E3E8EB;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.inline-navigation-btn + .inline-navigation-btn {
  margin-left: 7px;
}

.section-header .inline-navigation {
  margin-left: auto;
}

.product-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.product-card-wrapper.four-col .product-card {
  width: calc(25% - 20px);
}

.product-card-wrapper.three-col .product-card {
  width: calc(33.3% - 20px);
}

.product-card-wrapper .product-card {
  margin: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  max-width: 370px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  padding: 10px 10px 15px;
}

.product-card-top {
  display: flex;
  align-items: center;
}

.product-sale {
  padding: 4px 8px;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #FFC700;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.product-card-tools {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.product-card-tool {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-card-tool + .product-card-tool {
  margin-left: 12px;
}

.product-favourite input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.product-favourite input:checked ~ svg path {
  stroke: #9BCB30;
  fill: #9BCB30;
}

.product-card-img {
  width: 100%;
  height: 225px;
  padding: 24px 0 48px;
  display: flex;
  align-items: flex-end;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
}

.product-card-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img-select-list {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
}

.img-select-item {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  flex-shrink: 0;
  display: block;
  margin: 0 3.5px;
}

.img-select-item.active {
  width: 23px;
  height: 23px;
  padding: 1px;
  border: 1px solid #000000;
}

.img-select-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.product-card-caption {
  flex: 1;
  margin: 20px 0 33px;
}

.product-card-caption h6 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 13px;
}

.product-card-caption li {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.product-card-bottom {
  margin-top: auto;
  display: flex;
}

.product-card-bottom .btn-custom {
  width: 50%;
}

.product-card-bottom .btn-custom + .btn-custom {
  margin-left: 10px;
}

.home-catalog-pagination {
  position: static;
  margin-top: 15px;
}

.home-catalog-pagination .swiper-pagination-bullet {
  background: #000;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 4px!important;
}

.home-catalog-pagination .swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 14px;
  background: #9BCB30;
}

.instruction {
  margin-top: 40px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  padding: 30px;
}

.instruction-list {
  display: flex;
  justify-content: space-between;
}

.instruction-item {
  width: calc(17% - 60px);
  position: relative;
}

.instruction-img {
  position: relative;
  width: fit-content;
  height: 80px;
  margin: 0 auto;
}

.instruction-number {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9BCB30;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.instruction-caption {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction-caption p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.instruction-caption .btn-custom {
  margin-top: 18px;
  color: #000;
}

.instruction-item {
  &:nth-of-type(1) .instruction-number {
    right: -11px;
    bottom: -11px;
  }
  &:nth-of-type(2) .instruction-number {
    top: -4px;
    left: -4px;
  }
  &:nth-of-type(3) .instruction-number {
    bottom: -2px;
    left: -31px;
  }
  &:nth-of-type(4) .instruction-number {
    top: -17px;
    left: -20px;
  }
  &:nth-of-type(5) .instruction-number {
    bottom: 5px;
    left: -6px;
  }
  &:nth-of-type(6) .instruction-number {
    top: -13px;
    left: -16px;
  }
}

.instruction-item:nth-of-type(1) + .instruction-item:nth-of-type(2):before {
  content: '';
  background: url("../img/main/line-1.svg") no-repeat center/contain;
  position: absolute;
  left: -70px;
  top: 0;
  width: 94px;
  height: 82px;
  display: block;
}

.instruction-item:nth-of-type(2) + .instruction-item:nth-of-type(3):before,
.instruction-item:nth-of-type(4) + .instruction-item:nth-of-type(5):before {
  content: '';
  background: url("../img/main/line-2.svg") no-repeat center/contain;
  position: absolute;
  left: -95px;
  top: 15px;
  width: 104px;
  height: 41px;
  display: block;
}

.instruction-item:nth-of-type(3) + .instruction-item:nth-of-type(4):before,
.instruction-item:nth-of-type(5) + .instruction-item:nth-of-type(6):before {
  content: '';
  background: url("../img/main/line-3.svg") no-repeat center/contain;
  position: absolute;
  left: -80px;
  top: 7px;
  width: 102px;
  height: 37px;
  display: block;
}

.page-promo-img {
  display: none;
}

.section-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

//catalog
.page-row {
  display: flex;
  grid-column-gap: 51px;
}

.sidebar {
  width: 291px;
}

.sidebar-catalog {
  padding: 11px 16px 30px 16px;
  border-radius: 8px;
  background: #F6F9FB;
}

.sidebar-catalog a {
  display: flex;
  width: 100%;
  padding: 16px 10px 16px 0;
  align-items: center;
  position: relative;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.sidebar-catalog a:after {
  content: '';
  background: url("../img/icon/chevron-right-black.svg") no-repeat center/contain;
  display: block;
  width: 6px;
  height: 11px;
  margin-left: auto;
}

.sidebar-filter {
  margin-top: 24px;
  border-radius: 8px;
  background: #F6F9FB;
  padding: 20px 20px 33px;
}

.sidebar-filter-title {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.sidebar-filter-item + .sidebar-filter-item {
  margin-top: 24px;
}

.sidebar-filter-item b {
  display: block;
  margin-bottom: 16px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-color {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 7px;
}

.filter-color-item {
  position: relative;
}

.filter-color-item input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.filter-color-checkmark {
  padding: 1px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  flex-shrink: 0;
  display: block;
}

.filter-color-checkmark span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.filter-color-item input:checked ~ .filter-color-checkmark {
  width: 23px;
  height: 23px;
  border: 1px solid #000;
}

.filter-brand-lg {
  margin-top: 16px;
  display: none;
}

.toggle-filter-brand {
  color: #0085FF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 13px;
  border-bottom: 1px dashed #0085FF;
  padding-bottom: 1.5px;
}

.filter-power-form {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.filter-power-form .form-container {
  position: relative;
  padding: 8px;
  min-height: 37px;
  width: 80px;
}

.filter-power-form .form-container input {
  font-size: 14px;
  font-weight: 400;
}

.filter-power-form small {
  display: block;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 5px;
}

.filter-power-form span {
  display: block;
  margin-left: 9px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.filter-power-slider {
  padding: 8px 0;
  width: calc(100% - 20px);
  margin: 0 auto;
}

.noUi-target {
  background: #c8deed;
  border-radius: 8px;
  border: none;
  height: 5px;
  box-shadow: none;
}

.noUi-connect {
  background: #9BCB30;
}

.noUi-handle {
  box-shadow: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 4px solid #9BCB30;
}

.noUi-horizontal .noUi-handle {
  width: 21px;
  height: 21px;
  top: -8px;
  right: -10px;
  cursor: pointer;
}

.noUi-handle:after, .noUi-handle:before {
  content: none;
}

.article {
  flex: 1;
}






@import "media";
