//main page
.main-page {
  padding-top: 0;
}

.intro {
  background: #F0F2F3;
  padding: 24px 0 30px;
}

.intro-row {
  display: flex;
}

.intro-slider {
  width: 67.2%;
}

.intro-slider .intro-slide {
  width: 100%;
  height: 411px;
  border-radius: 8px;
  overflow: hidden;
}

.intro-slider .intro-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-slider-prev, .intro-slider-next {
  width: 40px;
  height: 40px;
}

.intro-slider-prev:after, .intro-slider-next:after {
  display: none;
}

.intro-slider-prev {
  left: 8px!important;
}

.intro-slider-next {
  right: 8px!important;
}

.intro-slider-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 2px;
  background: #FFF;
  opacity: 1;
  margin: 0 4px!important;
}

.intro-slider-pagination .swiper-pagination-bullet-active {
  background: #9BCB30;
}

.feedback-container {
  border-radius: 8px;
  background: #FFF;
  padding: 40px 30px;
  width: 32.8%;
  margin-left: 22px;
}

.feedback-container hr {
  width: 65px;
  opacity: 1;
  border-top: 4px solid #9BCB30;
  margin: 0 0 19px;
}

.feedback-container b {
  display: block;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 19px;
}

.feedback-container p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 29px;
}

.feedback-container .form-container {
  margin-bottom: 12px;
}

.page-promos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.page-promo {
  border-radius: 8px;
}

.page-promo h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
  position: relative;
  z-index: 1;
}

.page-promo p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 26px;
  position: relative;
  z-index: 1;
}

.page-promo .btn-custom {
  margin-top: auto;
}

.page-promo.light {
  padding: 23px 320px 33px 30px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF url("../img/main/zeekr-white.png") no-repeat right center/contain;
  background-size: 360px;
  h2 {
    color: #000;
  }
  p {
    color: #000;
  }
}

.page-promo.dark {
  padding: 23px 305px 33px 30px;
  border-radius: 8px;
  background: #2B2E2E url("../img/main/3-car.png") no-repeat right 50px/contain;
  background-size: 395px;
  h2 {
    color: #FFF;
  }
  p {
    color: #FFF;
  }
}

.home-catalog {
  margin-top: 48px;
}

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.inline-navigation {
  display: flex;
  align-items: center;
}

.inline-navigation-btn {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #E3E8EB;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.inline-navigation-btn + .inline-navigation-btn {
  margin-left: 7px;
}

.section-header .inline-navigation {
  margin-left: auto;
}

.product-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.product-card-wrapper.four-col .product-card {
  width: calc(25% - 20px);
}

.product-card-wrapper.three-col .product-card {
  width: calc(33.33% - 20px);
}

.product-card-wrapper .product-card {
  margin: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  max-width: 370px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  padding: 9px 10px 14px;
  height: auto;
}

.product-card-top {
  display: flex;
  align-items: center;
}

.product-sale {
  padding: 4px 8px;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #FFC700;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.product-card-tools {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.product-card-tool {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-card-tool + .product-card-tool {
  margin-left: 12px;
}

.product-favourite input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.product-favourite input:checked ~ svg path {
  stroke: #9BCB30;
  fill: #9BCB30;
}

.product-card-img {
  width: 100%;
  height: 225px;
  padding: 24px 0 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden;
}

.product-card-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img-select-list {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  margin-left: -3.5px;
  margin-right: -3.5px;
}

.img-select-item {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  flex-shrink: 0;
  display: block;
  margin: 0 3.5px;
}

.img-select-item.active {
  width: 23px;
  height: 23px;
  padding: 1px;
  border: 1px solid #000000;
}

.img-select-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.product-card-caption {
  flex: 1;
  margin: 20px 0 33px;
}

.product-card-caption h6 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 13px;
}

.product-detail-list li {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.list-view-img-select {
  display: none;
}

.product-card-bottom {
  margin-top: auto;
  display: flex;
}

.product-card-bottom .btn-custom {
  width: 50%;
}

.product-card-bottom .btn-custom + .btn-custom {
  margin-left: 10px;
}

.home-catalog-pagination {
  position: static;
  margin-top: 15px;
}

.home-catalog-pagination .swiper-pagination-bullet {
  background: #000;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 4px!important;
}

.home-catalog-pagination .swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 14px;
  background: #9BCB30;
}

.instruction {
  margin-top: 40px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  padding: 30px;
}

.instruction-list {
  display: flex;
  justify-content: space-between;
}

.instruction-item {
  width: calc(17% - 60px);
  position: relative;
}

.instruction-img {
  position: relative;
  width: fit-content;
  height: 80px;
  margin: 0 auto;
}

.instruction-number {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9BCB30;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.instruction-caption {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction-caption p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.instruction-caption .btn-custom {
  margin-top: 18px;
  color: #000;
}

.instruction-item {
  &:nth-of-type(1) .instruction-number {
    right: -11px;
    bottom: -11px;
  }
  &:nth-of-type(2) .instruction-number {
    top: -4px;
    left: -4px;
  }
  &:nth-of-type(3) .instruction-number {
    bottom: -2px;
    left: -31px;
  }
  &:nth-of-type(4) .instruction-number {
    top: -17px;
    left: -20px;
  }
  &:nth-of-type(5) .instruction-number {
    bottom: 5px;
    left: -6px;
  }
  &:nth-of-type(6) .instruction-number {
    top: -13px;
    left: -16px;
  }
}

.instruction-item:nth-of-type(1) + .instruction-item:nth-of-type(2):before {
  content: '';
  background: url("../img/main/line-1.svg") no-repeat center/contain;
  position: absolute;
  left: -70px;
  top: 0;
  width: 94px;
  height: 82px;
  display: block;
}

.instruction-item:nth-of-type(2) + .instruction-item:nth-of-type(3):before,
.instruction-item:nth-of-type(4) + .instruction-item:nth-of-type(5):before {
  content: '';
  background: url("../img/main/line-2.svg") no-repeat center/contain;
  position: absolute;
  left: -95px;
  top: 15px;
  width: 104px;
  height: 41px;
  display: block;
}

.instruction-item:nth-of-type(3) + .instruction-item:nth-of-type(4):before,
.instruction-item:nth-of-type(5) + .instruction-item:nth-of-type(6):before {
  content: '';
  background: url("../img/main/line-3.svg") no-repeat center/contain;
  position: absolute;
  left: -80px;
  top: 7px;
  width: 102px;
  height: 37px;
  display: block;
}

.page-promo-img {
  display: none;
}

.section-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

//catalog
.page-row {
  display: flex;
  grid-column-gap: 51px;
}

.sidebar {
  width: 291px;
  flex-shrink: 0;
}

.sidebar-catalog {
  padding: 11px 16px 30px 16px;
  border-radius: 8px;
  background: #F6F9FB;
}

.sidebar-catalog a {
  display: flex;
  width: 100%;
  padding: 16px 10px 16px 0;
  align-items: center;
  position: relative;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.sidebar-catalog a:after {
  content: '';
  background: url("../img/icon/chevron-right-black.svg") no-repeat center/contain;
  display: block;
  width: 6px;
  height: 11px;
  margin-left: auto;
}

.sidebar-filter {
  margin-top: 24px;
  border-radius: 8px;
  background: #F6F9FB;
  padding: 20px 20px 33px;
  position: relative;
}

.sidebar-filter-title {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.sidebar-filter-item + .sidebar-filter-item {
  margin-top: 24px;
}

.sidebar-filter-item b {
  display: block;
  margin-bottom: 16px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-color {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 7px;
}

.filter-color-item {
  position: relative;
}

.filter-color-item input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.filter-color-checkmark {
  padding: 1px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  flex-shrink: 0;
  display: block;
}

.filter-color-checkmark span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.filter-color-item input:checked ~ .filter-color-checkmark {
  width: 23px;
  height: 23px;
  border: 1px solid #000;
}

.filter-brand-lg {
  margin-top: 16px;
  display: none;
}

.filter-brand-all {
  display: none;
}

.show-more-btn {
  color: #0085FF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px dashed #0085FF;
  padding-bottom: 1.5px;
}

.toggle-filter-brand {
  margin-top: 13px;
}

.filter-power-form {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.filter-power-form .form-container {
  position: relative;
  padding: 8px;
  min-height: 37px;
  width: 80px;
}

.filter-power-form .form-container input {
  font-size: 14px;
  font-weight: 400;
}

.filter-power-form small {
  display: block;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 5px;
}

.filter-power-form span {
  display: block;
  margin-left: 9px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.filter-power-slider {
  padding: 8px 0;
  width: calc(100% - 20px);
  margin: 0 auto;
}

.noUi-target {
  background: #c8deed;
  border-radius: 8px;
  border: none;
  height: 5px;
  box-shadow: none;
}

.noUi-connect {
  background: #9BCB30;
}

.noUi-handle {
  box-shadow: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 4px solid #9BCB30;
}

.noUi-horizontal .noUi-handle {
  width: 21px;
  height: 21px;
  top: -8px;
  right: -10px;
  cursor: pointer;
}

.noUi-handle:after, .noUi-handle:before {
  content: none;
}

.article {
  flex: 1;
}

.section-header .breadcrumb {
  margin-left: auto;
}

.section-filter-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.custom-dropdown {
  width: fit-content;
}

.custom-dropdown-toggle {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  padding: 9px 12px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  min-width: 227px;
}

.custom-dropdown-toggle:after {
  content: '';
  background: url("../img/icon/chevron-down-black.svg") no-repeat center/contain;
  width: 12px;
  height: 8px;
  display: block;
  margin-left: auto;
  border: none;
}

.custom-dropdown-menu {
  width: 100%;
}

.toggle-view {
  display: flex;
  margin-left: auto;
}

.toggle-view-btn + .toggle-view-btn {
  margin-left: 8px;
}

.toggle-view-btn {
  width: 44px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
}

.toggle-view-btn.active {
  background: #9BCB30;
}

.toggle-sidebar-filter {
  display: none;
}

.page-header {
  margin-bottom: 24px;
}

.product-card-wrapper.list-view {
  flex-direction: column;
  .product-card {
    width: calc(100% - 20px);
    max-width: initial;
    min-width: initial;
    padding: 0;
    flex-direction: row;
    min-height: 250px;
  }
  .product-card-media {
    width: 37.7%;
    border-right: 1px solid #E0E0E0;
    padding: 10px 27px 10px 12px;
  }
  .product-card-img {
    padding: 35px 0;
    border-bottom: none;
    align-items: center;
    height: 204px;
  }
  .img-select-list {
    display: none;
  }
  .product-card-caption {
    width: 41.6%;
    border-right: 1px solid #E0E0E0;
    margin: 0;
    padding: 19px 27px;
  }
  .list-view-img-select {
    display: block;
    margin-top: 14px;
  }
  .list-view-img-select b {
    display: block;
    margin-bottom: 16px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .list-view-img-select .img-select-list {
    display: flex;
    position: static;
    transform: none;
  }
  .product-card-bottom {
    width: 20.7%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .product-card-bottom .btn-custom {
    width: 145px;
  }
  .product-card-bottom .btn-custom + .btn-custom {
    margin-left: 0;
    margin-top: 17px;
  }
}

.brand-dropdown {
  display: none;
}

.catalog-show-more {
  display: none;
}

//card
.product-container {
  display: flex;
}

.product-slider {
  width: 436px;
  height: 436px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  margin: 0!important;
}

.product-slide {
  width: 436px;
  height: 436px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.product-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-slider-tools {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: center;
}

.product-slider-pagination {
  position: static;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  width: fit-content;
  margin: 0 16px;
}

.product-slider-navigation {
  position: static;
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 16px;
}

.product-slider-navigation.swiper-button-disabled svg path {
  stroke-opacity: 0.3;
}

.product-container-caption {
  flex: 1;
  margin-left: 41px;
}

.product-container-detail li {
  display: flex;
}

.product-container-detail p {
  width: 309px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 185.023%;
  margin-right: 12px;
}

.product-container-detail b {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 185.023%;
}

.product-container-detail b span {
  display: block;
  margin-right: 12px;
}

.product-container-detail {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.product-container-color {
  margin-top: 24px;
}

.product-container-color b {
  display: block;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.product-container-color .img-select-list {
  position: static;
  transform: none;
}

.product-container-tools {
  display: flex;
  align-items: center;
  margin-top: 24px;
  grid-column-gap: 9px;
  width: fit-content;
}

.product-container-tool {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-container-favourite {
  position: relative;
}

.product-container-favourite input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.product-container-favourite input:checked ~ svg path {
  stroke: #9BCB30;
  fill: #9BCB30;
}

.product-container-tool-link {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  width: 210px;
}

.product-container-caption .btn-green {
  margin-top: 16px;
  width: 388px;
}

.card-page .product-table-wrapper {
  margin-top: 43px;
}

.product-table-title {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}

.product-table {
  width: 100%;
  height: 350px;
  overflow-y: hidden;
  position: relative;
}

.product-table:after {
  content: '';
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 158px;
}

.product-table.show {
  height: fit-content;
  overflow-y: visible;
}

.product-table.show:after {
  content: none;
}

.product-table td + td {
  border-left: 1px solid rgba(0, 0, 0, 0.10);
}

.product-table tr + tr {
  border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.product-table th {
  &:nth-of-type(1) {
    width: 23%;
  }
  &:nth-of-type(2) {
    width: 19.2%;
  }
  &:nth-of-type(3) {
    width: 19.5%;
  }
  &:nth-of-type(4) {
    width: 19.2%;
  }
  &:nth-of-type(5) {
    width: 19.1%;
  }
}

.product-table th {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 15.5px;
}

.product-table td {
  padding: 13px 10px 15.5px 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.product-table th:not(:first-child), .product-table td:not(:first-child) {
  text-align: center;
}

.toggle-product-table {
  margin-top: 15px;
}

.card-page .home-catalog {
  margin-top: 38px;
}

.card-page .home-catalog .section-title {
  font-size: 18px;
  text-transform: initial;
}

.card-page .home-catalog .section-header {
  margin-bottom: 11px;
}

//contacts
.map-wrapper {
  width: 100%;
  height: 447px;
  border-radius: 8px;
  background: #EBEBEB;
  overflow: hidden;
}

.map-wrapper img, .map-wrapper iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts-row {
  display: flex;
  margin-top: 40px;
}

.contacts-col:first-child {
  width: 391px;
  margin-right: 65px;
}

.contacts-col b {
  display: block;
  margin-bottom: 24px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.contact-form .form-container {
  margin-bottom: 16px;
  padding: 9px 8px;
  min-height: 37px;
}

.contact-form .form-container input {
  font-size: 14px;
  line-height: normal;
}

.contact-form .form-container textarea::-webkit-input-placeholder, .contact-form .form-container input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.50);
}

.contact-form .form-container .btn-custom {
  width: 138px;
}

.contact-item {
  display: flex;
  width: fit-content;
  align-items: center;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.contact-item i {
  margin-right: 8px;
}

.contact-item + .contact-item {
  margin-top: 16px;
}

.map-wrapper-xs {
  display: none;
}



//about
.about-img {
  width: 100%;
  height: 291px;
  border-radius: 8px;
  background: #D8D8D8;
  overflow: hidden;
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-row {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.our-mission {
  width: 606px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #F3F8FA;
  position: relative;
  padding: 26px 28px 39px 108px;
}

.our-mission b {
  display: block;
  color: #000;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
}

.our-mission p {
  color: #000;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 150%;
}

.our-mission:before {
  content: '';
  background: url("../img/icon/quotation.svg") no-repeat center/contain;
  display: block;
  width: 58px;
  height: 42px;
  position: absolute;
  top: 26px;
  left: 30px;
}

.about-list {
  margin-left: 46px;
}

.about-item {
  display: flex;
  align-items: center;
}

.about-item + .about-item {
  margin-top: 10px;
}

.about-item-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  flex-shrink: 0;
  background: #9BCB30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-item-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-left: 12px;
}

//search
.global-search-form {
  display: flex;
  align-items: center;
}

.global-search-form .form-container {
  padding: 9px 15px;
  min-height: 42px;
  width: 391px;
}

.global-search-form .btn-custom {
  width: 90px;
  margin-left: 8px;
}

.global-search-content {
  margin-top: 16px;
}

.global-search-text {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.global-search-result {
  margin-top: 16px;
}

.search-result-tabs {
  display: flex;
  border-bottom: none;
}

.search-result-link {
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.10);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  border: none;
  white-space: nowrap;
}

.search-result-link.active {
  background: #1E2020;
  color: #FFF;
}

.search-result-link + .search-result-link {
  margin-left: 12px;
}

.search-result-content {
  margin-top: 24px;
}

.global-search-result-item {
  padding: 16px 0;
  display: flex;
  background: #FFF;
  border-bottom: 1px solid #e6e6e6;
}

.search-result-number {
  display: block;
  width: 28px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  flex-shrink: 0;
}

.search-result-caption {
  margin-left: 16px;
}

.search-result-caption p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.search-result-caption span {
  margin-top: 11px;
  display: flex;
  width: fit-content;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 32px;
  border: 1px solid rgba(0, 0, 0, 0.20);
}

.search-show-more {
  margin-top: 32px;
  width: 144px;
}

//404
.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  padding: 40px 0 80px;
  overflow-x: hidden;
}

.not-found-page:before {
  content: '';
  background: url("../img/main/cloud.svg") no-repeat center/contain;
  display: block;
  width: 221px;
  height: 72px;
  position: absolute;
  top: 10%;
  left: 20%;
}

.not-found-page:after {
  content: '';
  background: url("../img/main/cloud-sm.svg") no-repeat center/contain;
  display: block;
  width: 179px;
  height: 36px;
  position: absolute;
  top: 17%;
  right: 22%;
}

.not-found-container {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

.not-found-container:before {
  content: '';
  background: url("../img/main/404-before.png") no-repeat center/contain;
  display: block;
  width: 355px;
  height: 176px;
  position: absolute;
  left: -38px;
  bottom: 67px;
}

.not-found-container:after {
  content: '';
  background: url("../img/main/404-after.svg") no-repeat center/contain;
  display: block;
  width: 96px;
  height: 129px;
  position: absolute;
  right: -83px;
  bottom: 66px;
}

.not-found-title {
  color: #9BCB30;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 3;
}

.not-found-subtitle {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.not-found-subtitle span {
  color: #9BCB30;
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}

.not-found-subtitle span:after {
  content: '';
  background: rgba(0, 0, 0, 0.10);
  display: block;
  width: 123px;
  height: 11px;
  flex-shrink: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 43px;
  z-index: -1;
}

.not-found-subtitle span:first-child {
  z-index: 3;
}

.wheel-img {
  position: relative;
  margin-left: -32px;
  margin-top: -11px;
  z-index: 2;
}

.wheel-img:after {
  content: '';
  background: rgba(0, 0, 0, 0.10);
  display: block;
  width: 123px;
  height: 11px;
  flex-shrink: 0;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  left: 20px;
  z-index: -1;
}

.not-found-subtitle span:last-child {
  margin-left: -29px;
  z-index: 1;
}

.not-found-subtitle span:last-child:after {
  left: 18px;
}

.not-found-caption {
  margin-top: 12px;
  text-align: center;
}

.not-found-caption b {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
}

.not-found-caption p {
  margin-top: 24px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.not-found-nav {
  margin: 24px auto 0;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  width: 721px;
  border-top: 1px solid rgba(0, 0, 0, 0.20);
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.not-found-nav a {
  display: block;
  width: fit-content;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

.not-found-copyright {
  color: rgba(0, 0, 0, 0.30);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  position: absolute;
  bottom: 40px;
}


//compare
.compare-detail-list li {
  display: flex;
  width: 100%;
}

.compare-detail-list li p {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 233.5%; /* 28.02px */
  width: calc(100% - 50px);
}

.compare-detail-list li b {
  display: block;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 233.5%; /* 28.02px */
}

.compare-page .product-card-caption {
  margin: 20px 0 42.5px;
}

.compare-delete-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  color: #F00;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -31px;
  white-space: nowrap;
}

.compare-delete-btn i {
  margin-right: 8px;
}

.compare-page .product-card {
  position: relative;
  margin-bottom: 41px;
}

//configurator
.one-btn .btn-custom {
  width: 100%;
}

.configurator-page .product-card-bottom .btn-custom {
  margin: auto;
  white-space: normal;
  text-align: center;
}

//constructor
.constructor-page {
  padding: 24px 0 172px;
  position: relative;
}

.constructor-navigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 368px;
  height: 100%;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
  z-index: 5;
  padding: 154px 0 0 29px;
  transition: 0.2s ease;
  transform: translateX(-100%);
}

.constructor-navigation.show {
  transform: translateX(0);
}

.constructor-navigation-link {
  width: 100%;
  display: flex;
  padding: 11px 17px 10px;
}

.constructor-navigation-link.active {
  background: rgba(0, 0, 0, 0.05);
}

.constructor-navigation-link span {
  color: var(--black-color-20, rgba(0, 0, 0, 0.20));
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
  text-transform: uppercase;
  width: 25px;
  display: block;
}

.constructor-navigation-link p {
  margin-left: 11px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
  text-transform: uppercase;
}

.constructor-header {
  margin-top: 32px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.toggle-constructor-navigation {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  flex-shrink: 0;
  background: transparent;
  border: none;
  z-index: 5;
}

.toggle-constructor-navigation span {
  width: 35px;
  height: 3px;
  display: block;
  background: #000;
  position: relative;
  transition: 0.2s ease;
}

.toggle-constructor-navigation span + span {
  margin-top: 8px;
}

.toggle-constructor-navigation.active span {
  &:nth-of-type(1) {
    transform: translateY(11px) rotate(45deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}

.car-logo {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.car-logo img {
  max-height: 60px;
  object-fit: contain;
}

.car-logo span {
  display: block;
  margin-left: 13px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.share-container {
  position: relative;
  margin-left: auto;
  height: fit-content;
}

.toggle-share-list {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 11px 15px;
  position: relative;
  z-index: 1;
  background: #fff;
  height: 48px;
  transition: 0.2s ease;
}

.toggle-share-list span {
  display: block;
  margin-left: 16px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.toggle-share-list .icon-active {
  display: none;
}

.toggle-share-list.active .icon {
  display: none;
}

.toggle-share-list.active .icon-active {
  display: block;
}

.share-list {
  display: flex;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background:  #9BCB30;
  padding-right: 0;
  height: 48px;
  position: absolute;
  top: 0;
  right: calc(100% - 10px);
  transition: 0.2s ease;
  width: 0;
  overflow: hidden;
}

.share-list.show {
  width: fit-content;
  padding-right: 10px;
}

.share-list li + li {
  border-left: 1px solid rgba(255, 255, 255, 0.30);
}

.share-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;
}

.constructor-content {
  padding-top: 24px;
}

.constructor-tabs {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  border: none;
}

.constructor-tabs .nav-link {
  border-radius: 8px;
  background: #EEF1F5;
  display: flex;
  padding: 11px 15.5px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.constructor-tabs .nav-link + .nav-link {
  margin-left: 8px;
}

.constructor-tabs .nav-link.active {
  border: none;
  background: #9BCB30;
}

.constructor-slider-wrapper {
  display: flex;
  align-items: center;
}

.constructor-slider-prev, .constructor-slider-next {
  width: fit-content;
  height: fit-content;
}

.constructor-slide {
  height: 450px;
  padding: 30px 80px;
  overflow: hidden;
}

.constructor-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.constructor-slider-pagination {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  position: static;
}

.constructor-slider-pagination .swiper-pagination-bullet {
  width: 71px;
  height: 71px;
  opacity: 1;
  margin: 0 2px!important;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.constructor-slider-pagination .swiper-pagination-bullet img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}

.constructor-slider-pagination .swiper-pagination-bullet-active {
  border-color: #9BCB30;
}

.constructor-request-btn {
  width: 318px;
  margin: 32px auto 0;
}

.constructor-page-main {
  margin-right: 370px;
}

.constructor-details-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 367px;
  padding: 29px 0 67px 23px;
  background: #F6F6F9;
  z-index: 1;
  min-height: 100%;
}

.constructor-details-title {
  display: block;
  margin-bottom: 24px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
}

.constructor-details-item + .constructor-details-item {
  margin-top: 32px;
}

.constructor-details-item {
  width: 100%;
}

.constructor-details-item b {
  display: block;
  margin-bottom: 24px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
}

.scroll-container {
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 24px;
  display: flex;
}

.scroll-container::-webkit-scrollbar {
  border-radius: 32px;
  height: 6px;
}

.scroll-container::-webkit-scrollbar-track {
  border-radius: 32px;
  background: #E3E3ED;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background: #BDBDCB;
}

.constructor-colors-item {
  position: relative;
}

.constructor-colors-item + .constructor-colors-item {
  margin-left: 12px;
}

.constructor-colors-item {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.constructor-colors-item input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.constructor-colors-item .checkmark {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.10);
  overflow: hidden;
}

.constructor-colors-item input:checked ~ .checkmark {
  border: 4px solid #9bcb30;
}

.checkmark-color {
  width: 100%;
  height: 100%;
}

.constructor-wheels-item {
  position: relative;
}

.constructor-wheels-item input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.constructor-wheels-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.constructor-wheels-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.constructor-wheel-text {
  display: none;
}

.constructor-wheels-item input:checked ~ .constructor-wheels-img {
  border: 4px solid #9BCB30;
}

.constructor-wheels-item input:checked ~ .constructor-wheels-img img {
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -4px;
  left: -4px;
}

.constructor-wheels-item + .constructor-wheels-item {
  margin-left: 16px;
}

.constructor-tires-item + .constructor-tires-item{
  margin-left: 16px;
}

.constructor-tires-box {
  display: flex;
  width: 140px;
  max-height: 300px;
  padding: 11px 17px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #000;
  height: 100%;
}

.constructor-tires-box img {
  max-width: 101px;
  max-height: 141px;
}

.constructor-tires-box p {
  margin-top: 12px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.constructor-tires-box span {
  display: none;
}

.constructor-tires-item {
  position: relative;
}

.constructor-tires-item input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.constructor-tires-item input:checked ~ .constructor-tires-box {
  border: 4px solid #9BCB30;
  padding: 8px 14px 9px;
}

.constructor-options-item {
  position: relative;
  width: 152px;
  flex-shrink: 0;
}

.constructor-options-item + .constructor-options-item {
  margin-left: 26px;
}

.constructor-option-img {
  width: 100%;
  height: 112px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  position: relative;
}

.constructor-option-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.constructor-option-checkmark {
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  flex-shrink: 0;
  top: -8px;
  right: -9px;
  border: 2px solid #9BCB30;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.constructor-option-checkmark:before {
  content: '';
  background: url("../img/icon/checkmark-white.svg") no-repeat center/contain;
  display: block;
  width: 14px;
  height: 10px;
}

.constructor-option-text {
  margin-top: 11px;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}

.constructor-options-item input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.constructor-options-item input:checked ~ .constructor-option .constructor-option-checkmark {
  background: #9BCB30;
}

.constructor-options {
  padding-top: 10px;
  margin-top: -10px;
}

.interior-slide {
  height: 563px;
}

.close-sidebar-filter {
  display: none;
}

.catalog-header-sm, .catalog-section-filter-sm {
  display: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 434px;
    width: 434px;
    margin-right: auto;
    margin-left: auto;
  }
}

.modal-body {
  padding: 0;
  position: relative;
}

.close-modal {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  position: absolute;
  right: 17px;
  top: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-feedback-container {
  padding: 36px 28px 39px 32px;
}

.modal-feedback-container b {
  display: block;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 19px;
  text-align: center;
}

.modal-feedback-container p {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  margin-bottom: 29px;
  max-width: 285px;
  margin-left: auto;
  margin-right: auto;
}

.modal-feedback-container .feedback-container-form {
  .form-container + .form-container {
    margin-top: 12px;
  }
  .btn-custom {
    margin-top: 16px;
    width: 178px;
    margin-left: auto;
    margin-right: auto;
  }
}

.success-container {
  padding: 51px 41px 39px;
  text-align: center;
}

.success-container img {
  display: block;
  margin: 0 auto 36px;
}

.success-container b {
  display: block;
  margin-bottom: 16px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.success-container p {
  margin: 0 auto 31px;
  text-align: center;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  max-width: 320px;
}

.success-container .btn-custom {
  width: 123px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .modal-lg {
    width: 877px;
    max-width: 877px;
  }
}

.order-modal-container {
  display: flex;
}

.order-modal-left {
  width: 440px;
  flex-shrink: 0;
  padding: 25px 21px 30px 22px;
  border-right: 1px solid rgba(0, 0, 0, 0.20);
}

.order-modal-logo {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.order-modal-logo img {
  max-height: 42px;
}

.order-modal-logo span {
  display: block;
  margin-left: 9px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.order-modal-img {
  padding: 15.5px 0;
}

.order-modal-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.order-modal-options-title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 20.8px */
  text-align: center;
}

.order-modal-options {
  display: flex;
  margin-top: 18px;
  overflow-x: auto;
  padding-bottom: 21px;
}

.order-modal-options::-webkit-scrollbar {
  border-radius: 32px;
  height: 6px;
}

.order-modal-options::-webkit-scrollbar-track {
  border-radius: 32px;
  background: #E3E3ED;
}

.order-modal-options::-webkit-scrollbar-thumb {
  border-radius: 32px;
  background: #BDBDCB;
}

.order-modal-option {
  max-width: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}

.order-modal-option + .order-modal-option {
  margin-left: 15px;
}

.order-modal-option-color {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.order-modal-option span {
  color: var(--black-color-40, rgba(0, 0, 0, 0.40));
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
  display: block;
  text-align: center;
  margin-top: 16px;
}

.order-modal-option b {
  display: block;
  margin-top: 4px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  text-align: center;
}

.order-modal-option-img {
  max-width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-modal-option-img img {
  max-width: 100%;
  max-height: 100%;
}

.order-modal-right {
  padding: 83px 38px 100px 23px;
  flex: 1;
}

.order-modal-right {
  b {
    display: block;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 19px;
  }
  p {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    max-width: 300px;
    margin: 0 auto 29px;
  }
  .form-container {
    margin-bottom: 12px;
  }
  .btn-custom {
    margin-top: 16px;
    width: 178px;
    margin-left: auto;
    margin-right: auto;
  }
}









@import "media";
