//large desktops
@media (min-width: 1300px) and  (max-width: 1400px) {
  .our-mission {
    width: 500px;
  }
}

//desktops
@media (min-width: 1200px) and  (max-width: 1299px) {
  .page-promo.light {
    padding-right: 215px;
    background-size: 280px;
  }
  .page-promo.dark {
    padding-right: 190px;
    background-size: 310px;
  }
  .sidebar {
    width: 270px;
  }
  .page-row {
    grid-column-gap: 30px;
  }
  .our-mission {
    width: 500px;
  }
}

//desktops
@media (min-width: 992px) and (max-width: 1199px) {
  .intro-slider .intro-slide {
    height: 375px;
  }
  .intro-slider-pagination {
    bottom: 20px!important;
  }
  .feedback-container {
    padding: 30px;
  }
  .page-promo.light {
    padding-right: 100px;
    background-size: 250px;
    background-position: right bottom;
  }
  .page-promo.dark {
    padding-right: 100px;
    background-size: 300px;
    background-position: right bottom;
  }
  .instruction-list {
    flex-wrap: wrap;
  }
  .instruction-item {
    width: calc(33.3% - 60px);
  }
  .instruction-item:nth-of-type(4), .instruction-item:nth-of-type(5), .instruction-item:nth-of-type(6) {
    margin-top: 50px;
  }
  .instruction-item:nth-of-type(3) + .instruction-item:nth-of-type(4):before {
    content: none;
  }
  .page-row .sidebar {
    display: none;
  }
  .main:not(.main-page) {
    padding: 35px 0 60px;
  }
  .brand-dropdown {
    display: block;
  }
  .sort-dropdown {
    margin-left: auto;
  }
  .toggle-view {
    margin-left: 16px;
  }
  .our-mission {
    width: 550px;
  }
}

//tablets
@media (min-width: 768px) and (max-width: 991px) {
  .intro-row {
    display: block;
  }
  .intro-slider {
    width: 100%;
  }
  .intro-slider .intro-slide {
    height: 370px;
  }
  .feedback-container {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    padding: 24px 18px;
  }
  .feedback-container hr {
    display: none;
  }
  .feedback-container b {
    text-align: center;
    margin-bottom: 8px;
  }
  .feedback-container p {
    text-align: center;
    margin-bottom: 17px;
  }
  .feedback-container-form {
    display: flex;
    column-gap: 7px;
  }
  .feedback-container-form .form-container {
    flex: 1;
    min-height: 50px;
  }
  .page-promos {
    display: flex;
    grid-column-gap: initial;
  }
  .page-promo.light, .page-promo.dark {
    background-image: none;
  }
  .page-promo.light .page-promo-img {
    display: block;
    position: absolute;
    right: 0;
  }
  .page-promo.dark .page-promo-img {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    width: 350px;
    height: auto;
  }
  .page-promo.dark .page-promo-img img {
    width: 100%;
    height: auto;
  }
  .page-promos-pagination {
    position: static;
    margin-top: 10px;
  }
  .page-promos-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background: #D9D9D9;
    opacity: 1;
    margin: 0 4px!important;
  }
  .page-promos-pagination .swiper-pagination-bullet-active {
    background: #9BCB30;
  }
  .home-catalog-slider .product-card {
    width: 320px;
  }
  .instruction-list {
    flex-wrap: wrap;
  }
  .instruction-item {
    width: calc(33.3% - 50px);
  }
  .instruction-item:nth-of-type(4), .instruction-item:nth-of-type(5), .instruction-item:nth-of-type(6) {
    margin-top: 50px;
  }
  .instruction-item:nth-of-type(3) + .instruction-item:nth-of-type(4):before {
    content: none;
  }
  .page-row .sidebar {
    display: none;
  }
  .main:not(.main-page) {
    padding: 35px 0 60px;
  }
  .brand-dropdown {
    display: block;
  }
  .sort-dropdown {
    margin-left: auto;
  }
  .toggle-view {
    margin-left: 16px;
  }
  .product-card-wrapper {
    margin: -7.5px;
  }
  .product-card-img {
    align-items: center;
  }
  .product-card-wrapper.three-col .product-card {
    width: calc(33.33% - 15px);
    min-width: 230px;
    margin: 7.5px;
  }
  .product-card-wrapper.three-col .product-card-caption {
    margin-bottom: 16px;
  }
  .product-card-wrapper.three-col .product-detail-list li {
    font-size: 11px;
  }
  .product-card-wrapper.three-col .product-card-bottom {
    flex-direction: column;
  }
  .product-card-wrapper.three-col .product-card-bottom .btn-custom + .btn-custom {
    margin-left: 0;
    margin-top: 15px;
  }
  .product-card-wrapper.three-col .product-card-bottom .btn-custom {
    width: 100%;
  }
  .product-card-wrapper.list-view .product-card-media {
    padding: 10px 17px 10px 12px;
  }
  .product-card-wrapper.list-view .product-card-caption {
    padding: 19px 16px;
  }
  .product-card-wrapper.list-view .product-card-bottom .btn-custom {
    width: 115px;
  }
  .product-card-wrapper.list-view .product-card {
    width: calc(100% - 15px);
  }
  .product-slider {
    width: 345px;
    height: 345px;
  }
  .product-slide {
    width: 345px;
    height: 345px;
  }
  .product-container-caption {
    margin-left: 21px;
  }
  .product-container-detail p {
    font-size: 15px;
    line-height: 160%;
    width: 290px;
  }
  .product-container-detail b {
    font-size: 15px;
    line-height: 160%;
  }
  .product-container-tool-link {
    width: 185px;
  }
  .product-container-caption .btn-green {
    width: 362px;
  }
  .product-container-detail {
    padding-bottom: 16px;
  }
  .product-container-color {
    margin-top: 16px;
  }
  .product-table th {
    &:nth-of-type(1) {
      width: 29%;
    }
    &:nth-of-type(2) {
      width: 18%;
    }
    &:nth-of-type(3) {
      width: 18%;
    }
    &:nth-of-type(4) {
      width: 18%;
    }
    &:nth-of-type(5) {
      width: 17%;
    }
  }
  .product-table th, .product-table td {
    font-size: 13px;
  }
  .card-page .inline-navigation {
    display: none;
  }
  .card-page .home-catalog .section-header {
    margin-bottom: 24px;
  }
  .card-page .product-card {
    width: 235px;
    min-width: 235px;
  }
  .card-page .product-card-caption {
    margin-bottom: 16px;
  }
  .card-page .product-detail-list li {
    font-size: 11px;
  }
  .card-page .product-card-bottom {
    flex-direction: column;
  }
  .card-page .product-card-bottom .btn-custom {
    width: 100%;
  }
  .card-page .product-card-bottom .btn-custom + .btn-custom {
    margin-left: 0;
    margin-top: 15px;
  }
  .about-row {
    display: block;
    margin-top: 16px;
  }
  .our-mission {
    width: 100%;
    padding: 26px 35px 45px 108px;
  }
  .about-list {
    margin-left: 0;
    margin-top: 31px;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .about-item {
    width: 50%;
    margin-bottom: 10px;
  }
  .about-item + .about-item {
    margin-top: 0;
  }
  .about-item {
    &:nth-of-type(1) {
      order: 1;
    }
    &:nth-of-type(3) {
      order: 2;
    }
    &:nth-of-type(2) {
      order: 3;
    }
    &:nth-of-type(4) {
      order: 4;
    }
  }
}

//phones
@media (min-width: 320px) and (max-width: 767px) {
  .intro-row {
    display: block;
  }
  .intro-slider {
    width: 100%;
  }
  .intro-slider .intro-slide {
    height: 225px;
  }
  .intro-slider-prev, .intro-slider-next {
    display: none;
  }
  .feedback-container {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    padding: 24px 18px;
  }
  .feedback-container hr {
    display: none;
  }
  .feedback-container b, .feedback-container p {
    text-align: center;
  }
  .feedback-container-form .btn-custom {
    margin: 0 auto;
    width: 210px;
  }
  .page-promos {
    display: flex;
    grid-column-gap: initial;
  }
  .page-promo.dark, .page-promo.light {
    padding: 23px 22px 32px;
    background-image: none;
  }
  .page-promo-img {
    display: block;
    height: 165px;
    width: 100%;
  }
  .page-promo-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .page-promo h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 16px;
  }
  .page-promo p {
    font-size: 14px;
    margin-bottom: 24px;
    text-align: center;
  }
  .page-promo .btn-custom {
    margin: 0 auto;
  }
  .page-promos-pagination {
    position: static;
    margin-top: 10px;
  }
  .page-promos-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background: #D9D9D9;
    opacity: 1;
    margin: 0 4px!important;
  }
  .page-promos-pagination .swiper-pagination-bullet-active {
    background: #9BCB30;
  }
  .home-catalog .section-title {
    margin: 0 auto;
  }
  .section-title {
    font-size: 22px;
  }
  .home-catalog .inline-navigation {
    display: none;
  }
  .instruction {
    padding: 0;
    border: none;
    margin-top: 60px;
  }
  .instruction-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .instruction-item {
    width: calc(50% - 8px);
    margin-bottom: 40px;
  }
  .instruction-item:before {
    content: none!important;
  }
  .instruction-item:nth-of-type(5), .instruction-item:nth-of-type(6) {
    margin-bottom: 0;
  }
  .main:not(.main-page) {
    padding: 24px 0 76px;
  }
  .page-row .sidebar {
    display: none;
  }
  .page-header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  .page-header .breadcrumb {
    order: 1;
    margin-left: 0;
    margin-bottom: 32px;
  }
  .page-header .section-title {
    order: 2;
  }
  .section-filter-wrapper {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .brand-dropdown {
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
  .custom-dropdown-toggle {
    width: 100%;
  }
  .sort-dropdown {
    flex: 1;
  }
  .toggle-view {
    display: none;
  }
  .product-card-wrapper.three-col .product-card {
    width: calc(100% - 20px);
  }
  .pagination {
    display: none;
  }
  .catalog-show-more {
    display: flex;
    margin: 32px auto 0;
    min-width: 145px;
  }
  .product-container {
    display: block;
  }
  .product-slider {
    width: 329px;
    height: 329px;
    margin: 0 auto!important;
  }
  .product-slide {
    width: 329px;
    height: 329px;
  }
  .product-container-caption {
    margin-left: 0;
    margin-top: 32px;
  }
  .product-container-detail p {
    width: 271px;
    font-size: 14px;
  }
  .product-container-detail b {
    font-size: 14px;
  }
  .product-container-tools {
    grid-column-gap: 3px;
  }
  .product-container-tool-link {
    width: 169px;
  }
  .product-container-caption .btn-green {
    width: 326px;
  }
  .product-table th {
    &:nth-of-type(1) {
      width: 229px;
      flex-shrink: 0;
    }
    &:nth-of-type(2) {
      width: 112px;
      flex-shrink: 0;
    }
    &:nth-of-type(3) {
      width: 112px;
      flex-shrink: 0;
    }
    &:nth-of-type(4) {
      width: 112px;
      flex-shrink: 0;
    }
    &:nth-of-type(5) {
      width: 112px;
      flex-shrink: 0;
    }
  }
  .product-table th {
    padding-bottom: 6.5px;
  }
  .product-table-scroll {
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 25px;
  }
  .product-table-scroll::-webkit-scrollbar {
    height: 7px;
  }
  .product-table-scroll::-webkit-scrollbar-track {
    border-radius: 9px;
    background: #D9D9D9;
  }
  .product-table-scroll::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background: #ADADAD;
  }
  .product-table {
    width: fit-content;
  }
  .product-table table {
    width: max-content;
  }
  .article {
    max-width: 100%;
    overflow-x: hidden;
  }
  .toggle-product-table {
    margin-top: 10px;
  }
  .contacts-row {
    margin-top: 32px;
    display: block;
  }
  .contacts-col:first-child {
    width: 100%;
    margin-bottom: 32px;
  }
  .about-img {
    height: 425px;
  }
  .about-img img:not(.about-img-sm) {
    display: none;
  }
  .about-row {
    display: block;
    margin-top: 16px;
  }
  .our-mission {
    padding: 26px 18px 34px 26px;
    width: 100%;
  }
  .our-mission:before {
    display: none;
  }
  .about-list {
    margin-left: 0;
    margin-top: 28px;
  }
  .global-search-form .form-container {
    min-width: 231px;
    width: initial;
    flex: 1;
  }
  .search-result-tabs {
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .not-found-subtitle span {
    font-size: 140px;
  }
  .wheel-img img {
    width: 108px;
    height: 108px;
  }
  .not-found-subtitle span:after {
    width: 73px;
    height: 7px;
    bottom: 31px;
  }
  .not-found-subtitle span:first-child:after {
    left: 9px;
  }
  .wheel-img:after {
    width: 73px;
    height: 7px;
    bottom: -6px;
  }
  .not-found-container:before {
    width: 230px;
    height: 114px;
    left: -14px;
    bottom: 46px;
  }
  .not-found-container:after {
    width: 61px;
    height: 83px;
    right: -44px;
    bottom: 46px;
  }
  .not-found-caption {
    margin-top: 0;
  }
  .not-found-caption b {
    font-size: 18px;
  }
  .not-found-caption p {
    margin: 24px auto 0;
    font-size: 14px;
    max-width: 270px;
  }

  .not-found-nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }
  .not-found-nav li {
    width: fit-content;
  }
  .not-found-nav a {
    font-size: 14px;
    padding: 15px 0;
  }
  .not-found-copyright {
    bottom: 37px;
  }
  .not-found-page:before {
    top: 23px;
    left: -17px;
  }
  .not-found-page:after {
    top: 96px;
    right: -58px;
  }
}





@media (hover: hover) {

}
