.i-pin {
  background: url("../img/icon/pin.svg");
  width: 15px;
  height: 15px;
}

.i-clock {
  background: url("../img/icon/clock.svg");
  width: 14px;
  height: 14px;
}

.i-chart {
  background: url("../img/icon/chart.svg");
  width: 15px;
  height: 16px;
}

.i-heart {
  background: url("../img/icon/heart.svg");
  width: 16px;
  height: 16px;
}

.i-burger {
  background: url("../img/icon/burger.svg");
  width: 20px;
  height: 17px;
}

.i-pin-green {
  background: url("../img/icon/pin-green.svg");
  width: 24px;
  height: 24px;
}

.i-email-green {
  background: url("../img/icon/email-green.svg");
  width: 24px;
  height: 24px;
}

.i-setting {
  background: url("../img/icon/setting.svg");
  width: 24px;
  height: 24px;
}

.i-chart-black {
  background: url("../img/icon/chart-black.svg");
  width: 18px;
  height: 16px;
}

.i-chevron-left {
  background: url("../img/icon/chevron-left.svg");
  width: 12px;
  height: 22px;
}

.i-chevron-right {
  background: url("../img/icon/chevron-right.svg");
  width: 12px;
  height: 22px;
}

.i-pin-black {
  background: url("../img/icon/pin-black.svg");
  width: 18px;
  height: 18px;
}

.i-email-black {
  background: url("../img/icon/email-black.svg");
  width: 18px;
  height: 18px;
}

.i-calendar {
  background: url("../img/icon/calendar.svg");
  width: 20px;
  height: 20px;
}

.i-user-group {
  background: url("../img/icon/user-group.svg");
  width: 20px;
  height: 20px;
}

.i-map {
  background: url("../img/icon/map.svg");
  width: 20px;
  height: 20px;
}

.i-pin-white {
  background: url("../img/icon/pin-white.svg");
  width: 20px;
  height: 20px;
}

.i-close {
  background: url("../img/icon/close.svg");
  width: 8px;
  height: 8px;
}
