.i-pin {
  background: url("../img/icon/pin.svg");
  width: 15px;
  height: 15px;
}

.i-clock {
  background: url("../img/icon/clock.svg");
  width: 14px;
  height: 14px;
}

.i-chart {
  background: url("../img/icon/chart.svg");
  width: 15px;
  height: 16px;
}

.i-heart {
  background: url("../img/icon/heart.svg");
  width: 16px;
  height: 16px;
}

.i-burger {
  background: url("../img/icon/burger.svg");
  width: 20px;
  height: 17px;
}
